body
{
    margin: 0;

    font-family: monospace;
}

header
{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255, 255, 255, 0.95);
}

header *
{
    display: inline;
    height: 50px;
}

header ul
{
    padding: 0;
}

header li
{
    margin-left: 20px;
}

section
{
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: clear;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#top li, #about li, #achieve li, #links li, #about p
{
    font-size: 20px;
}

header [alt="pfp"]
{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding: 3px;
    padding-right: 0px;
}

#top [alt="pfp"]
{
    width: 500px;
    border-radius: 50%;    
}

footer
{
    text-align: center;
    padding: 10px;
}

#top h1
{
    font-size: 3em;
}

section h2
{
    font-size: 2.5em;
}

header a
{
    text-decoration: none;
    color: black;
}

#top
{
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.65)), url('https://github.com/NateTheCat/Lab4/blob/main/ezgif.com-gif-maker.gif?raw=true');
}

#about, #achieve, #links
{
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.65)), url('https://github.com/NateTheCat/Lab4/blob/main/ezgif.com-gif-maker%20(1).jpg?raw=true');
}

#courses
{
    /* height: 100vh; */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: left;
    text-align: left;
    background-color: clear;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.65)), url('https://github.com/NateTheCat/Lab4/blob/main/ezgif.com-gif-maker%20(1).jpg?raw=true');
}

#courses td, th
{
    padding: .5em;
    padding-right: 5em;
}